html{
	background-size: cover;
	background-position: center;
}

.jumbotron {
	background: rgba(0, 0, 0, 0.5);
	height: 700px;
	width:800px;
	color: white;
	text-align: center;
	margin: 0 auto;

}





