.jumbotron{
	background: url('https://microscopy.stanford.edu/sites/default/files/test.png');
	background-size: cover;
	height: 220px;
	color: white;
	text-align: center;
 }

 h2{
    font-size: 30px;
    

}