.jumbotron{
	background: url('http://health.usf.edu/~/media/Images/Public%20Health/Global%20Health/GHIDR/Genomics/genomics-banner.ashx?h=300&w=800&hash=450EE5981F78F2D53BEF26F3A763E36C866A8262');
	background-size: cover;
	height: 220px;
	color: white;
	text-align: center;
 }

 
ul {
    padding: 0px;
    background: rgba(0,0,0,0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}