background-image {
    width: 400px;
    background: url();
    background-size: center;

}

.jumbotron {
    text-align: center;
    background: url('https://imgur.com/YmVSIQg.png');
    background-size: cover;
    color: white;
    height: 500px;
    

}

.dropdown { 
    float: right;
    overflow: hidden;
 }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /*text-align: left;*/
}

.dropdown: hover .dropdown-content {
  display: block;
}


.title {
    font-size: 150px;
    color: white;
    font-family: "Courier New", Monospace;
    font-style: italic;
    position: center;
 }

 .form-group {
    position: center;
 }


ul {
    padding: 10px;
    background: rgba(0,0,0,0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    li {
        display: block;
        padding: 5px;
    }
}
