h2{ 
    font-size: 100px;
    color: black;
    font-family: "Calibri";
    padding-top: 100px;
    text-align: center;

 }

h1{
      text-align: center;
      color: #F4ECF7;
}

body {
    background-color: #F4ECF7;
 }



html, body {
  margin: 0px!important;
  padding: 0px!important;
}

ul {
    padding: 0px;
    background: rgba(0,0,0,0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

.item {
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 300px;
  padding-right: 70px;
}

.carousel-inner {
  color: #F4ECF7;
  height: 400px;
}

.carousel-indicators {
  height: 0px;
}

.container {
  background-color: white;
}
