background-image {
    width: 400px;
    background: url();
    background-size: center;

}

body {
    background-image: : url('https://imgur.com/YmVSIQg.png');
    background-size: cover;
}

.item{ 

 }

.title {
    font-size: 150px;
    color: white;
    font-family: "Courier New";
    font-style: italic;
    position: center;
    padding-top: 100px;
    padding-left: 250px;
 }



ul {
    padding: 0px;
    background: rgba(0,0,0,0.5);
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}

div.item {
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 300px;
  padding-right: 70px;
}

a { 
    text-align: center;
    color: white;
    font-family: "Times New Roman";
 }

 h1{
    text-align: center;
 }

.carousel-inner {
/*color: white;*/
height: 400px;
/*font-family: 'Arsenal', sans-serif;*/
}

.carousel-indicators {
  height: 0px;
}

/*@media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    li {
        display: block;
        padding: 5px;
    }
}*/
