.jumbotron{
	background: url('https://gsbs.uth.edu/global/img/headers/neuro.jpg');
	background-size: cover;
	height: 220px;
	color: white;
	text-align: center;
 }

html, body {
  margin: 0px!important;
  padding: 0px!important;
}

.plan p {
  text-align: justify;
  text-justify: inter-word;
  padding: 0px 5vw; 
  border: 3px solid transparent;
}

h4 {
  font-size: 35px!important;
  font-weight: 400;
  font-family: 'Calibri'!important;
  padding: 2%!important;
  text-align: center;
}

h2 {
  font-size: 40px!important;
  font-weight: 400;
  font-family: 'Calibri'!important;
  padding: 2%!important;
  text-align: left;
}

p {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Calibri', sans-serif;
}

.description {
    padding:70px 150px 80px 250px;
}

.round {
  border: solid 1px transparent;
  border-radius: 400px;
}

figure {
	float:left;
	padding: 70px 100px 70px 50px;
}
